.navbar {
  color:rgb(44, 141, 44); ;
  background-color: rgb(187, 243, 187);
  margin: 0;
  padding: 0;
}

.navbar-brand{
  height: 60px;
  margin: 0;
  margin-left: 30px;
  padding: 10px;
  background-color: rgb(44, 141, 44);
  color:rgb(187, 243, 187);
  font-weight: bolder;
}

.badge{
  height: inherit;
  color: rgb(44, 141, 44);
}

#navbarNav{
  color: rgb(44, 141, 44)
}

.infoCard, .form, .portfolioCard{
  max-width: 540px;
  margin-top: 20px;
}

.portfolioCard{
  margin-top: 20px;
  border: none;
}

.card-group{
  margin: 10%;
  margin-top: 0;
  border: none;
}

.thumb{
  margin: 0;
  border-color: rgb(44, 141, 44);
  border-radius: 4px;
}

h5{
  background-color: rgb(187, 243, 187);
  color: rgb(44, 141, 44);
  text-align: center;
  padding: 5px;
  margin-top: 45%;
}



